$young_grey: #a79e9d;
$old_grey: #353535;
$orange: #ffb91b;
$orange_hover: #f1a102;
$grey_background: #f4f7fa;
$black_text: #01193c;

@mixin breakpoint($class) {
    @if $class==xs {
      @media (max-width: 575.98px) {
        @content;
      }
    } @else if $class==xs-landscape {
      @media (max-width: 575.98px) and (orientation: landscape) {
        @content;
      }
    } @else if $class==sm {
      @media (max-width: 767.98px) {
        @content;
      }
    } @else if $class==sm-landscape {
      @media (max-width: 767.98px) and (orientation: landscape) {
        @content;
      }
    } @else if $class==md {
      @media (max-width: 991.98px) {
        @content;
      }
    } @else if $class==lg {
      @media (max-width: 1366.98px) {
        @content;
      }
    } @else if $class==max-900 {
      @media (max-width: 900.98px) {
        @content;
      }
    } @else if $class==max-1200 {
      @media (max-width: 1200.98px) {
        @content;
      }
    } @else if $class==max-1280 {
      @media (max-width: 1280px) {
        @content;
      }
    } @else if $class==max-1024 {
      @media (max-width: 1024px) {
        @content;
      }
    } @else if $class==max-1400 {
      @media (max-width: 1400.98px) {
        @content;
      }
    } @else if $class==min-1500 {
      @media (min-width: 1500.98px) {
        @content;
      }
    } @else if $class==min-1800 {
      @media (min-width: 1800.98px) {
        @content;
      }
    } @else if $class==ipad-only {
      @media (max-width: 768px) {
        @content;
      }
    } @else if $class==max-400 {
      @media (max-width: 400px) {
        @content;
      }
    } @else if $class==max-320 {
      @media (max-width: 320px) {
        @content;
      }
    } @else if $class==height-400 {
      @media (max-height: 400px) {
        @content;
      }
    } @else if $class==height-576 {
      @media (max-height: 576px) {
        @content;
      }
    } @else if $class==height-700 {
      @media (max-height: 700.98px) {
        @content;
      }
    } @else if $class==height-1280 {
      @media (max-height: 1280px) {
        @content;
      }
    } @else if $class==height-min-991 {
      @media (min-height: 991px) {
        @content;
      }
    } @else if $class==fix-8600 {
      @media (width: 800px) and (height: 600px) {
        @content;
      }
    } @else if $class==hi-res {
      @media (min-width: 1921px) {
        @content;
      }
    } @else if $class==max-1920 {
      @media (max-width: 1920px) {
        @content;
      }
    } @else {
      @warn "Breakpoin mixin support: xss, xs, sm";
    }
  }
  /* style */
  @font-face {
    font-family: 'prox-bold';
    src: url('../font-proxima/ProximaNovaBold.otf');
  }
  
  @font-face {
    font-family: 'prox-light';
    src: url('../font-proxima/ProximaNovaAltLight.otf');
  }
  
  @font-face {
    font-family: 'prox';
    src: url('../font-proxima/ProximaNova-Regular.otf');
  }
  @font-face {
    font-family: 'prox-black';
    src: url('../font-proxima/ProximaNovaBlack.otf');
  }
  @font-face {
    font-family: 'prox-extra-bold';
    src: url('../font-proxima/ProximaNovaExtrabold.otf');
  }
  @font-face {
    font-family: 'font-awesome';
    src: url('../font-proxima/fa-solid-900.ttf');
  }
  html {
    font-size: 16px;
    scroll-behavior: smooth;
    @include breakpoint(hi-res) {
      font-size: 32px;
    }
  }
  body {
    font-family: 'prox';
    color: #4a4a4a;
  }

  a {
    color: $orange;
    text-decoration: none;
  }

  a:hover, a:active, a:focus {
    color: $orange_hover;
    outline: none;
    text-decoration: none;
  }

  p {
    padding: 0;
    margin: 0 0 30px 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'prox-bold';
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }

  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: $orange;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }

  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }

  .back-to-top:hover {
    background: $orange_hover;
    color: #fff;
  }

  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }

  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }

  #header {
    height: 100px;
    transition: all 0.5s;
    z-index: 997;
    background: white;
    @include breakpoint(md){
      height:50px;
    }
  }

  #header #logo h1 {
    font-size: 32px;
    margin: 0;
    line-height: 1;
    font-family: 'prox-bold';
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  #header #logo h1 a, #header #logo h1 a:hover {
    color: #fff;
  }

  #header #logo img {
    padding: 0;
    margin: 0;
  }

  #header.header-white {
    background: white;
  }

  #header.header-scrolled {
    background: white;
    height: 70px;
    transition: all 0.5s;
  }

  .scrolled-offset {
    margin-top: 70px;
  }

  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar > ul > li {
    white-space: nowrap;
    padding: 10px 0 10px 24px;
  }

  .navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'prox-bold';
    color: $young_grey;
    font-size: 16px;
    padding: 0 4px;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0.4px;
    position: relative;
    text-transform: uppercase;
  }

  .navbar a i {
    font-size: 16px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: $orange;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  .navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
    visibility: visible;
    transform: scaleX(1);
  }

  .navbar a:hover, .navbar .active, .navbar li:hover > a {
    color: $old_grey;
  }

  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }

  .mobile-nav-toggle {
    color: $old_grey;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }

  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
    .navbar ul {
      display: none;
    }
  }

  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(77, 77, 77, 0.9);
    transition: 0.3s;
    z-index: 999;
  }

  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }

  .navbar-mobile > ul > li {
    padding: 0;
  }

  .navbar-mobile a:hover:before, .navbar-mobile li:hover > a:before, .navbar-mobile .active:before {
    visibility: hidden;
  }

  .navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: $young_grey;
  }

  .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: $old_grey;
  }

  .navbar-mobile .getstarted {
    margin: 15px;
  }

  #hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
  }

  #hero:before {
    content: "";
    background: white;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  #hero h1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: $old_grey;
  }

  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  }

  #hero h2 {
    color: $old_grey;
    margin-bottom: 50px;
    font-size: 24px;
  }

  @media (max-width: 768px) {
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }

  #hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }

  #hero .btn-get-started:hover {
    background: $orange;
    border: 2px solid $orange;
  }

  section {
    overflow: hidden;
  }

  .section-header .section-title {
    font-size: 32px;
    color: #4a4a4a;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .section-header .section-description {
    text-align: center;
    padding-bottom: 40px;
    color: $young_grey;
    font-size:22px;
  }

  .breadcrumbs {
    padding: 20px 0;
    background-color: whitesmoke;
    min-height: 40px;
    margin-top: 92px;
  }

  .breadcrumbs h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
  }

  @media (max-width: 992px) {
    .breadcrumbs h2 {
      margin: 0 0 10px 0;
    }
  }

  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }

  .breadcrumbs ol li + li {
    padding-left: 10px;
  }

  .breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: $young_grey;
    content: "/";
  }

  @media (max-width: 768px) {
    .breadcrumbs .d-flex {
      display: block !important;
    }
    .breadcrumbs ol {
      display: block;
    }
    .breadcrumbs ol li {
      display: inline-block;
    }
  }

  #about {
    background: white;
    padding: 80px 0;
  }

  #about .about-container .background {
    min-height: 300px;
    margin-bottom: 10px;
  }

  #about .about-container .content {
    background: #fff;
  }

  #about .about-container .title {
    color: $old_grey;
    font-weight: 700;
    font-size: 32px;
  }

  @media (max-width: 768px) {
    #about .about-container .title {
      padding-top: 15px;
    }
  }

  #about .about-container p {
    line-height: 26px;
  }

  #about .about-container p:last-child {
    margin-bottom: 0;
  }

  #about .about-container .icon-box {
    background: #fff;
    background-size: cover;
    padding: 0 0 30px 0;
  }

  #about .about-container .icon-box .icon {
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid $orange;
  }

  #about .about-container .icon-box .icon i {
    color: $orange;
    font-size: 24px;
    line-height: 0;
  }

  #about .about-container .icon-box .title {
    margin-left: 80px;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
  }

  #about .about-container .icon-box .title a {
    color: #111;
  }

  #about .about-container .icon-box .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
  }

  #facts {
    background: #f7f7f7;
    padding: 80px 0 60px 0;
  }

  #facts .counters span {
    font-size: 48px;
    display: block;
    color: $orange;
  }

  #facts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: 'prox';
    font-size: 14px;
  }

  #services {
    background: #fff;
    background-size: cover;
    padding: 80px 0 60px 0;
  }

  #services .box {
    padding: 50px 20px;
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid #e6e6e6;
    height: 270px;
    position: relative;
    background: white;
    border-radius:25px;
  }

  #services .box:hover {
    border: 1px solid $orange;
    box-shadow: -5px 12px 35px -5px rgba(237,171,45,0.75);
    -webkit-box-shadow: -5px 12px 35px -5px rgba(237,171,45,0.75);
    -moz-box-shadow: -5px 12px 35px -5px rgba(237,171,45,0.75);
  }

  #services .icon {
    position: absolute;
    top: -36px;
    left: calc(50% - 36px);
    transition: 0.2s;
    border-radius: 50%;
    border: 6px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 72px;
    height: 72px;
    background: $orange;
  }

  #services .icon a {
    display: inline-block;
  }

  #services .icon i {
    color: #fff;
    font-size: 24px;
    line-height: 0;
  }

  #services .box:hover .icon {
    background: #fff;
    border: 2px solid $orange;
  }

  #services .box:hover .icon i {
    color: $orange;
  }

  #services .box:hover .icon a {
    color: $orange_hover;
  }

  #services .title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  #services .title a {
    color: #111;
  }

  #services .description {
    font-size: 14px;
    line-height: 24px;
  }

  #call-to-action {
    background-size: cover;
    padding: 80px 0;
  }

  @media (max-width: 1024px) {
    #call-to-action {
      background-attachment: scroll;
    }
  }

  #call-to-action .cta-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }

  #call-to-action .cta-text {
    color: #fff;
  }

  @media (min-width: 769px) {
    #call-to-action .cta-btn-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  #call-to-action .cta-btn {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }

  #call-to-action .cta-btn:hover {
    background: $orange;
    border: 2px solid $orange;
  }

  #portfolio {
    background: #f7f7f7;
    padding: 80px 0;
  }

  #portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
  }

  #portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 12px 18px 14px 18px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: $young_grey;
    margin: 0 5px 10px 5px;
    transition: all ease-in-out 0.3s;
    background: white;
    border-radius: 4px;
  }

  #portfolio #portfolio-flters li:hover, #portfolio #portfolio-flters li.filter-active {
    color: #fff;
    background: $orange;
  }

  #portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }

  #portfolio .portfolio-item {
    margin-bottom: 30px;
    overflow: hidden;
  }

  #portfolio .portfolio-item img {
    position: relative;
    top: 0;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  #portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: -50px;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: $orange;
    padding: 15px 20px;
  }

  #portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
  }

  #portfolio .portfolio-item .portfolio-info p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
  }

  #portfolio .portfolio-item .portfolio-info .preview-link, #portfolio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 50px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: white;
    transition: ease-in-out 0.3s;
  }

  #portfolio .portfolio-item .portfolio-info .preview-link:hover, #portfolio .portfolio-item .portfolio-info .details-link:hover {
    color: #a4ebd4;
  }

  #portfolio .portfolio-item .portfolio-info .details-link {
    right: 15px;
  }

  #portfolio .portfolio-item:hover img {
    top: -30px;
  }

  #portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
    bottom: 0;
  }

  .portfolio-details {
    padding-top: 40px;
  }

  .portfolio-details .portfolio-details-slider img {
    width: 100%;
  }

  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }

  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid $orange;
  }

  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: $orange;
  }

  .portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(102, 102, 102, 0.08);
  }

  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }

  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }

  .portfolio-details .portfolio-info ul li + li {
    margin-top: 10px;
  }

  .portfolio-details .portfolio-description {
    padding-top: 30px;
  }

  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .portfolio-details .portfolio-description p {
    padding: 0;
  }

  #team {
    background: #fff;
    padding: 80px 0 60px 0;
  }

  #team .member {
    text-align: center;
    margin-bottom: 20px;
  }

  #team .member .pic {
    margin-bottom: 15px;
    overflow: hidden;
    height: 260px;
  }

  #team .member .pic img {
    max-width: 100%;
  }

  #team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
  }

  #team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
  }

  #team .member .social {
    margin-top: 15px;
  }

  #team .member .social a {
    color: $young_grey;
  }

  #team .member .social a:hover {
    color: $orange;
  }

  #team .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }

  #contact {
    background: #f7f7f7;
    padding: 80px 0 40px 0;
  }

  #contact #google-map {
    height: 300px;
    margin-bottom: 20px;
  }

  #contact .info {
    color: $old_grey;
  }

  #contact .info i {
    font-size: 32px;
    color: $orange;
    float: left;
    line-height: 0;
  }

  #contact .info p {
    padding: 0 0 10px 50px;
    margin-bottom: 20px;
    line-height: 22px;
    font-size: 14px;
  }

  #contact .info .email p {
    padding-top: 5px;
  }

  #contact .social-links {
    padding: 20px 0;
  }

  #contact .social-links a {
    font-size: 18px;
    background: #333;
    color: #fff;
    line-height: 1;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  #contact .social-links a i {
    line-height: 0;
  }

  #contact .social-links a:hover {
    background: #2dc997;
    color: #fff;
  }

  #contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }

  #contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }

  #contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: $orange;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }

  #contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }

  #contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid $orange;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }

  #contact .php-email-form input, #contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }

  #contact .php-email-form input::focus, #contact .php-email-form textarea::focus {
    background-color: $orange;
  }

  #contact .php-email-form button[type="submit"] {
    background: $orange;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
  }

  #contact .php-email-form button[type="submit"]:hover {
    background: $orange_hover;
  }

  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  #footer {
    background: $old_grey;
    padding: 30px 0;
    color: #fff;
    font-size: 14px;
  }

  #footer .copyright {
    text-align: center;
  }

  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: $young_grey;
  }
/*animasi*/
.animatable {
  visibility: hidden;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 1;
    -o-transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 1;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.3);
  }
  50% {
    -webkit-transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(0.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bounceIn {
  0% {
    opacity: 1;
    -moz-transform: scale(0.3);
  }

  50% {
    -moz-transform: scale(1.05);
  }

  70% {
    -moz-transform: scale(0.9);
  }

  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}

@-o-keyframes bounceIn {
  0% {
    opacity: 1;
    -o-transform: scale(0.3);
  }

  50% {
    -o-transform: scale(1.05);
  }

  70% {
    -o-transform: scale(0.9);
  }

  100% {
    opacity: 1;
    -o-transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 1;
    transform: scale(0.3);
  }

  50% {
    transform: scale(1.05);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.animated {
  visibility: visible;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
  &.fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  &.bounceIn {
    -webkit-animation-name: bounceIn;
    -moz-animation-name: bounceIn;
    -o-animation-name: bounceIn;
    animation-name: bounceIn;
  }
}
.delay {
  &-1 {
    animation-delay: 0.25s;
  }
  &-2 {
    animation-delay: 0.5s;
  }
  &-3 {
    animation-delay: 0.75s;
  }
  &-4 {
    animation-delay: 1s;
  }
  &-5 {
    animation-delay: 1.25s;
  }
}

.m {
  &-t {
    &-5 {
      margin-top: 5px;
    }
    &-10 {
      margin-top: 10px;
    }
    &-20 {
      margin-top: 20px;
    }
    &-30 {
      margin-top: 30px;
    }
    &-50 {
      margin-top: 50px;
    }
    &-200 {
      margin-top: 200px;
      @include breakpoint(xs) {
        margin-top: 100px;
      }
    }
  }
  &-b {
    &-0 {
      margin-bottom: 0;
    }
    &-10 {
      margin-bottom: 10px;
    }
    &-20 {
      margin-bottom: 20px;
    }
    &-25 {
      margin-bottom: 25px;
    }
    &-30 {
      margin-bottom: 30px;
    }
    &-50 {
      margin-bottom: 50px;
    }
  }
  &-r {
    &-5 {
      margin-right: 5px;
    }
    &-10 {
      margin-right: 10px;
    }
    &-20 {
      margin-right: 20px;
    }
    &-30 {
      margin-right: 30px;
    }
    &-50 {
      margin-right: 50px;
    }
  }
  &-l {
    &-10 {
      margin-left: 10px;
    }
    &-20 {
      margin-left: 20px;
    }
    &-25 {
      margin-left: 25px;
    }
    &-30 {
      margin-left: 30px;
    }
    &-40 {
      margin-left: 40px;
    }
    &-50 {
      margin-left: 50px;
    }
  }
}
//font-size
.font {
  &-18 {
    font-size: 18px;
    @include breakpoint(hi-res) {
      font-size: 36px;
    }
  }
  &-14 {
    font-size: 14px;
    @include breakpoint(hi-res) {
      font-size: 28px;
    }
  }
  &-12 {
    font-size: 12px;
    @include breakpoint(hi-res) {
      font-size: 24px;
    }
  }
}

.section {
  &-even {
    padding: 150px;
    @include breakpoint(hi-res) {
      padding: 250px;
    }
    @include breakpoint(max-1200) {
      padding: 150px 100px;
    }
    @include breakpoint(max-1024) {
      padding: 100px 75px;
    }
    @include breakpoint(xs) {
      padding: 50px 25px;
    }
  }
  &-odd {
    background-color: $grey_background;
    padding: 150px;
    @include breakpoint(hi-res) {
      padding: 250px;
    }
    @include breakpoint(max-1200) {
      padding: 150px 100px;
    }
    @include breakpoint(max-1024) {
      padding: 100px 75px;
    }
    @include breakpoint(xs) {
      padding: 50px 25px;
    }
  }
  &-driver {
    padding: 150px 0;
    @include breakpoint(hi-res) {
      padding: 250px 0;
    }
    @include breakpoint(sm) {
      padding: 75px 0;
    }
  }
  &-search {
    padding: 30px 0;
    @include breakpoint(hi-res) {
      padding: 150px 0;
    }
    @include breakpoint(md) {
      padding: 40px 0;
    }
  }
  &-culture {
    @include breakpoint(xs) {
      padding: 50px 0;
    }
  }
  &-coco {
    padding: 75px 0 0;
    @include breakpoint(hi-res) {
      padding: 150px 0 0;
    }
    @include breakpoint(sm) {
      padding: 50px 0 0;
    }
    &-value {
      padding: 20px 125px 50px;
      @include breakpoint(max-1024) {
        padding: 25px 50px 50px;
      }
      @include breakpoint(md) {
        padding: 25px 50px;
      }
      @include breakpoint(sm) {
        padding: 25px 20px;
      }
      @include breakpoint(xs) {
        padding: 0 25px 50px;
      }
    }
  }
  &-liput {
    padding: 250px 150px 150px;
    @include breakpoint(hi-res) {
      padding: 500px 300px 300px;
    }
    @include breakpoint(lg) {
      padding: 275px 150px 150px;
    }
    @include breakpoint(max-1200) {
      padding: 250px 100px 150px;
    }
    @include breakpoint(md) {
      padding: 135px 100px 100px;
    }
    @include breakpoint(sm-landscape) {
      padding: 150px 75px;
    }
    @include breakpoint(xs) {
      padding: 120px 25px 25px;
    }
    @include breakpoint(xs-landscape) {
      padding: 130px 25px 25px;
    }
  }
}

.title-section {
  color: $old_grey;
  font-size: 18px;
  font-family: 'prox-bold';
  @include breakpoint(xs) {
    font-size: 13px;
  }
  @include breakpoint(hi-res) {
    font-size: 36px;
  }
}
.intro-text {
  color: $black_text;
  font-size: 42px;
  line-height: 55px;
  font-family: 'prox-extra-bold';
  &-50 {
    font-size: 47px;
    line-height: 65px;
    font-weight: 600;
    font-family: 'prox-bold';
    color: $black_text;
    @include breakpoint(hi-res) {
      font-size: 90px;
      line-height: 110px;
    }
    @include breakpoint(max-1200) {
      font-size: 45px;
      line-height: 52px;
    }
    @include breakpoint(md) {
      font-size: 30px;
      line-height: 45px;
    }
    @include breakpoint(sm) {
      font-size: 25px;
      line-height: 35px;
    }
  }
  @include breakpoint(max-1280) {
    font-size: 35px;
    line-height: 47px;
  }
  @include breakpoint(max-1200) {
    font-size: 30px;
    line-height: 42px;
  }
  @include breakpoint(xs) {
    font-size: 24px;
    line-height: 36px;
  }
  @include breakpoint(hi-res) {
    font-size: 85px;
    line-height: 110px;
  }
}

.head-title {
  font-family: 'prox-extra-bold';
  font-size: 50px;
  line-height: 65px;
  &-white {
    color: white;
    font-family: 'prox-bold';
    font-size: 50px;
    line-height: 65px;
    @include breakpoint(md) {
      font-size: 38px;
      line-height: 48px;
    }
    @include breakpoint(xs) {
      font-size: 30px;
      line-height: 40px;
    }
    @include breakpoint(max-320) {
      font-size: 24px;
      line-height: 35px;
    }
    @include breakpoint(hi-res) {
      font-size: 100px;
      line-height: 120px;
    }
  }
  @include breakpoint(md) {
    font-size: 35px;
    line-height: 45px;
  }
  @include breakpoint(xs) {
    font-size: 30px;
    line-height: 40px;
  }
  @include breakpoint(max-320) {
    font-size: 24px;
    line-height: 35px;
  }
  @include breakpoint(hi-res) {
    font-size: 100px;
    line-height: 120px;
  }
}
.head-register {
  font-family: 'prox-extra-bold';
  font-size: 34px;
  line-height: 40px;
  color: $black_text;
  @include breakpoint(hi-res) {
    font-size: 46px;
    line-height: 56px;
  }
  @include breakpoint(max-1280) {
    font-size: 26px;
    line-height: 32px;
  }
  @include breakpoint(sm) {
    font-size: 22px;
    line-height: 28px;
  }
  @include breakpoint(xs) {
    font-size: 20px;
    line-height: 26px;
  }
  @include breakpoint(max-400) {
    font-size: 16px;
    line-height: 22px;
  }
}
.opportunity-text {
  font-family: 'prox-light';
  font-size: 35px;
  line-height: 55px;
  color: white;
  @include breakpoint(hi-res) {
    font-size: 70px;
    line-height: 100px;
  }
  @include breakpoint(max-1200) {
    font-size: 30px;
    line-height: 40px;
  }
  @include breakpoint(sm) {
    font-size: 24px;
    line-height: 36px;
  }
  @include breakpoint(xs) {
    text-align: left;
  }
  &-career {
    font-family: 'prox-bold';
    font-size: 35px;
    line-height: 55px;
    color: white;
    @include breakpoint(hi-res) {
      font-size: 65px;
      line-height: 90px;
    }
    @include breakpoint(max-1200) {
      font-size: 30px;
      line-height: 40px;
    }
    @include breakpoint(sm) {
      font-size: 24px;
      line-height: 36px;
    }
    @include breakpoint(xs) {
      text-align: center;
    }
    @include breakpoint(height-400) {
      font-size: 22px;
      line-height: 34px;
    }
  }
}
.about-content {
  color: white;
  font-size: 24px;
  font-family: 'prox';
  line-height: 34px;
  letter-spacing: 0.24px;
  @include breakpoint(hi-res) {
    font-size: 48px;
    line-height: 60px;
  }
  @include breakpoint(max-1024) {
    font-size: 20px;
    line-height: 28px;
  }
  @include breakpoint(sm) {
    font-size: 18px;
    line-height: 26px;
  }
  @include breakpoint(height-400) {
    font-size: 14px;
    line-height: 22px;
  }
  @include breakpoint(max-320) {
    font-size: 14px;
    line-height: 22px;
  }
}
.pelajari-lebih-lanjut {
  color: $orange;
  font-weight: bold;
  font-family: 'prox';
  letter-spacing: 0.8px;
  font-size: 20px;
  @include breakpoint(hi-res) {
    font-size: 40px;
  }
}
.cara-kerja {
  &-number {
    font-size: 24px;
    font-family: 'prox';
    color: $orange;
    margin-right: 10px;
    @include breakpoint(hi-res) {
      font-size: 48px;
    }
    @include breakpoint(xs) {
      font-size: 20px;
    }
  }
  &-head {
    font-size: 21px;
    line-height: 30px;
    font-family: 'prox';
    font-weight: 600;
    color: $black_text;
    @include breakpoint(hi-res) {
      font-size: 42px;
      line-height: 60px;
    }
    @include breakpoint(xs) {
      font-size: 18px;
    }
  }
  &-content {
    font-size: 16px;
    line-height: 24px;
    color: $young_grey;
    font-family: 'prox-light';
    @include breakpoint(hi-res) {
      font-size: 32px;
      line-height: 45px;
    }
    @include breakpoint(xs) {
      font-size: 14px;
    }
  }
  &-content-black {
    font-size: 16px;
    line-height: 24px;
    color: $old_grey;
    @include breakpoint(hi-res) {
      font-size: 32px;
      line-height: 45px;
    }
  }
}
.text {
  &-support {
    color: white;
    font-size: 21px;
    line-height: 32px;
    font-family: 'prox';
    @include breakpoint(hi-res) {
      font-size: 42px;
      line-height: 64px;
    }
  }
  &-justify {
    text-align: justify;
  }
  &-explain {
    @include breakpoint(min-1500) {
      width: 70%;
    }
    @include breakpoint(max-1200) {
      width: 85%;
    }
    @include breakpoint(md) {
      width: 100%;
    }
  }
  &-awesome-moment {
    @include breakpoint(min-1500) {
      margin-bottom: 80px;
    }
  }
}
.testimoni-text {
  color: $young_grey;
  font-size: 24px;
  line-height: 35px;
  @include breakpoint(hi-res) {
    font-size: 48px;
    line-height: 70px;
  }
  @include breakpoint(md) {
    font-size: 16px;
    line-height: 24px;
  }
  &-name {
    color: $old_grey;
    font-size: 21px;
    line-height: 24px;
    font-family: 'prox-bold';
    @include breakpoint(hi-res) {
      font-size: 42px;
      line-height: 48px;
    }
  }
  &-role {
    font-size: 18px;
    line-height: 24px;
    font-family: 'prox-light';
    @include breakpoint(hi-res) {
      font-size: 36px;
      line-height: 48px;
    }
    @include breakpoint(xs) {
      font-size: 14px;
      line-height: 18px;
    }
  }
  &-white {
    color: white;
    font-size: 24px;
    line-height: 35px;
    font-family: 'prox-light';
    @include breakpoint(hi-res) {
      font-size: 48px;
      line-height: 70px;
    }
    @include breakpoint(md) {
      font-size: 20px;
      line-height: 30px;
    }
    @include breakpoint(xs) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  &-apply {
    color: white;
    font-size: 24px;
    line-height: 35px;
    font-family: 'prox-light';
    @include breakpoint(hi-res) {
      font-size: 48px;
      line-height: 70px;
    }
    @include breakpoint(md) {
      font-size: 14px;
      line-height: 18px;
    }
  }
  &-black {
    color: $young_grey;
    font-size: 24px;
    line-height: 35px;
    font-weight: bold;
    @include breakpoint(hi-res) {
      font-size: 48px;
      line-height: 70px;
    }
  }
}
.disrupt-text {
  font-size: 36px;
  line-height: 36px;
  color: white;
  font-family: 'prox-bold';
  @include breakpoint(hi-res) {
    font-size: 72px;
    line-height: 72px;
  }
  @include breakpoint(md) {
    font-size: 30px;
    line-height: 30px;
  }
  @include breakpoint(xs) {
    margin-top: 10px;
  }
  @include breakpoint(max-400) {
    font-size: 20px;
    line-height: 20px;
  }
}
.karir {
  &-head-text {
    color: white;
    font-size: 80px;
    line-height: 85px;
    font-family: 'prox-extra-bold';
    @include breakpoint(hi-res) {
      font-size: 160px;
      line-height: 170px;
    }
    @include breakpoint(md) {
      font-size: 70px;
      line-height: 75px;
    }
    @include breakpoint(sm) {
      font-size: 55px;
      line-height: 60px;
    }
    @include breakpoint(xs) {
      font-size: 45px;
      line-height: 50px;
    }
  }
  &-head-text-black {
    color: $old_grey;
    font-size: 80px;
    line-height: 98px;
    font-family: 'prox-bold';
    @include breakpoint(hi-res) {
      font-size: 160px;
      line-height: 192px;
    }
    @include breakpoint(md) {
      font-size: 70px;
      line-height: 75px;
    }
    @include breakpoint(xs) {
      font-size: 50px;
      line-height: 55px;
    }
  }
  &-sub-values {
    color: $old_grey;
    font-family: 'prox-bold';
    font-size: 60px;
    line-height: 75px;
    @include breakpoint(hi-res) {
      font-size: 120px;
      line-height: 150px;
    }
    @include breakpoint(md) {
      font-size: 43px;
      line-height: 53px;
    }
    @include breakpoint(sm) {
      font-size: 35px;
      line-height: 45px;
    }
    @include breakpoint(xs) {
      font-size: 22px;
      line-height: 28px;
    }
  }
}
.font-bold {
  font-weight: 600;
}
.search-form {
  height: 60px;
  background-color: #f9f9f9;
  border: none;
  @include breakpoint(hi-res) {
    font-size: 40px;
  }
}
.fa-facebook,
.fa-instagram,
.fa-linkedin-in {
  font-size: 18px;
  @include breakpoint(hi-res) {
    font-size: 36px;
  }
  @include breakpoint(sm) {
    font-size: 28px;
  }
}
.login-text {
  &-head {
    font-size: 24px;
    line-height: 36px;
    font-family: 'prox-extra-bold';
    color: $old_grey;
    @include breakpoint(hi-res) {
      font-size: 48px;
      line-height: 72px;
    }
  }
  &-subhead {
    font-size: 18px;
    line-height: 22px;
    font-family: 'prox-black';
    color: $old_grey;
    @include breakpoint(hi-res) {
      font-size: 36px;
      line-height: 44px;
    }
  }
  &-content {
    font-size: 14px;
    color: $young_grey;
    line-height: 17px;
    font-family: 'prox';
    @include breakpoint(hi-res) {
      font-size: 28px;
      line-height: 34px;
    }
  }
  &-nav {
    font-size: 16px;
    line-height: 50px;
    color: $black_text;
    @include breakpoint(hi-res) {
      font-size: 32px;
      line-height: 100px;
    }
    @include breakpoint(max-320) {
      font-size: 14px;
    }
  }
}
a {
  &.text-logisly {
    color: $orange;
    cursor: pointer;
    letter-spacing: 0.3;
  }
}
.sukses-text {
  &-title {
    font-size: 28px;
    line-height: 35px;
    font-family: 'prox-bold';
    margin: 10px 0;
    @include breakpoint(hi-res) {
      font-size: 56px;
      line-height: 70px;
      margin: 20px 0;
    }
    @include breakpoint(md) {
      margin: 10px 0 0;
    }
    @include breakpoint(sm-landscape) {
      font-size: 22px;
      line-height: 30px;
    }
  }
  &-sub-title {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.14px;
    margin: 10px 0;
    @include breakpoint(hi-res) {
      font-size: 28px;
      line-height: 42px;
      margin: 20px 0;
    }
    @include breakpoint(sm-landscape) {
      font-size: 12px;
      line-height: 18px;
    }
  }
}
.head-about {
  margin-top: 90px;
  @include breakpoint(lg) {
    margin-top: 75px;
  }
  @include breakpoint(max-1024) {
    margin-top: 50px;
  }
  @include breakpoint(md) {
    margin-top: 20px;
  }
  @include breakpoint(xs) {
    margin-top: 0;
  }
}
.text-error,
.validationError {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: $orange;
  margin-left: 5px;
  margin-top: 5px;
  @include breakpoint(hi-res) {
    font-size: 24px;
    line-height: 28px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.order-truk {
  @include breakpoint(xs) {
    margin-left: 15px;
  }
  &-text {
    @include breakpoint(xs) {
      margin-left: 25px;
    }
  }
}
.caption {
  @include breakpoint(xs) {
    margin-left: 0;
    margin-right: 0;
  }
}
.text {
  &-danger {
    color: $orange;
    font-weight: bold;
  }
  &-success {
    color: $orange;
    font-weight: bold;
  }
  &-join {
    @include breakpoint(sm) {
      text-align: left;
    }
    @include breakpoint(xs) {
      text-align: center;
    }
  }
  &-mute {
    color: #b4b4b4;
  }
  &-capital {
    text-transform: uppercase;
  }
  &-free-join {
    margin-top: 100px;
    margin-bottom: 80px;
    @include breakpoint(hi-res) {
      margin-top: 200px;
      margin-bottom: 160px;
    }
    @include breakpoint(sm) {
      margin-top: 50px;
      margin-bottom: 40px;
    }
  }
  &-transporter {
    width: 80%;
    @include breakpoint(xs) {
      width: 90%;
    }
    @include breakpoint(sm-landscape) {
      width: 60%;
    }
  }
  &-job {
    margin-top: 50px;
    margin-left: 10px;
    @include breakpoint(sm) {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}
.footer-text {
  font-size: 12px;
  &-login {
    font-family: 'prox-light';
    font-size: 12px;
    @include breakpoint(hi-res) {
      font-size: 24px;
    }
  }
  @include breakpoint(hi-res) {
    font-size: 24px;
  }
  @include breakpoint(md) {
    margin-top: 0;
  }
  @include breakpoint(sm) {
    margin-top: -30px;
  }
}
.all-roles {
  padding-top: 80px;
  @include breakpoint(hi-res) {
    padding-top: 160px;
  }
  @include breakpoint(sm-landscape) {
    padding-top: 30px;
  }
  @include breakpoint(xs) {
    padding-top: 20px;
  }
}
.content-truk-order {
  @include breakpoint(xs) {
    margin-left: -30px;
  }
  @include breakpoint(max-320) {
    margin-left: -20px;
  }
}

h1{
  font-family: 'prox-extra-bold';
  font-size: 50px;
  line-height: 65px;
  @include breakpoint(md){
    font-size:40px;
    line-height:45px;
  }
}

h2{
  font-family: 'prox-extra-bold';
  font-size: 40px;
  line-height: 55px;
}

.text{
  &-dark{
    color:$black_text;
  }
  &-orange{
    color:$orange;
  }
  &-muted{
    color:$young_grey;
  }
}

.btn{
  &-primary{
    background:$orange;
    color:white;
    border-radius:25px;
    border: 1px solid $orange;
    padding: 10px 30px;
  }
  &-primary:hover{
    background:$orange_hover;
    border: 1px solid $orange_hover;
  }
}
.intro-text {
  font-size: 20px;
  line-height: 28px;
  font-family: 'prox-light';
  @include breakpoint(md){
    font-size: 16px;
    line-height: 22px;
  }
}
.footer{
  background-color: $grey_background;
  color:$black_text;
}
.big-hp {
  display: block !important;
  @include breakpoint(sm) {
    display: none !important;
  }
}
.small-hp {
  display: none !important;
  @include breakpoint(sm) {
    display: block !important;
  }
}
.background {
  &-index {
    background: url('../background.png');
    height: 100vh;
    position: relative;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 100px;
    @include breakpoint(md) {
      padding: 40px;
      background-position: left;
    }
  }
}
.image-show {
  &-991 {
    display: none;
    @include breakpoint(md) {
      display: block;
    }
  }
  &-desktop {
    display: block;
    @include breakpoint(hi-res) {
      display: none;
    }
    @include breakpoint(md) {
      display: none;
    }
  }
}

.shipper {
  &-logo-display {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
  &-logo-portrait{
    width: 90px;
    margin: 10px 20px;
    @include breakpoint(hi-res) {
      width: 200px;
    }
    @include breakpoint(max-1280) {
      margin: 10px;
    }
    @include breakpoint(xs) {
      width: 75px;
    }
  }
  &-logo {
    width: 140px;
    margin: 10px 20px;
    @include breakpoint(hi-res) {
      width: 250px;
    }
    @include breakpoint(max-1280) {
      margin: 10px;
    }
    @include breakpoint(xs) {
      width: 75px;
    }
  }
}
.logo{
  width:80px;
  margin:10px;
  @include breakpoint(md){
    width:40px;
  }
}
